# needed in Git Bash for Windows
[credential]
  helper = manager
# needed in WSL
[credential]
  helper = cache
[color]
  ui = true
[user]
  name = yourGitHubUserName
  email = yourGitHub@email.com
[core]
  editor = code --wait